<div class="characters--header filters--wrap">
    <button onClick="toggleFilters(this)" class="mobileOnly">View Filters</button>
    <div class="filters--collapsible">
        <div class="characters--sorting">
            <input id="quicksearch" class="forminput memberlist-namesearch" type="text" size="25" name="name" value="" placeholder="Filter by name...">
            <div class="characters--sort-buttons" data-type="flex">
                <button type="button" class="threads--sort is-checked" data-sort="characterAsc">Character (A -> Z)</button>
                <button type="button" class="threads--sort" data-sort="characterDesc">Character (Z -> A)</button>
                @@if (sitename !== 'all') {
                    <button type="button" class="threads--sort" data-sort="ageAsc">Age (Asc)</button>
                    <button type="button" class="threads--sort" data-sort="ageDesc">Age (Desc)</button>
                }
            </div>
        </div>
        <div class="characters--filters">
            <!--Site-->
            @@if (sitename === 'all') {
                <div class="characters--filter filter--parent">
                    <button onClick="openFilters(this)">Site</button>
                    <div class="characters--filter-dropdown">
                        <div class="characters--filter-group filter--sites" data-filter-group="site">
                            <label class="all is-checked"><span><input type="checkbox" class="all" value="" checked=""></span><b>any</b></label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="characters--content">
    <div id="characters--rows"></div>
</div>

<script>
    //set overall variables
    let siteName = '@@sitename';
    const typeSearch = `#quicksearch`;
    const blockTitle = `.character--title`;
    const visible = `is-visible`;
    const filterGroup = `.characters--filter-group`;
    const filterOptions = `.characters--filter-group input`;
    const sorts = `.characters--sorting button`;
    const gridItem = `.grid-item`;
    const defaultShow = `:not(.status--complete)`;

    //set class variables
    let $container = $('#characters--rows');

    fetch(`https://opensheet.elk.sh/${sheetID}/Tagging`)
    .then((response) => response.json())
    .then((tagData) => {
        fetch(`https://opensheet.elk.sh/${sheetID}/Characters`)
        .then((response) => response.json())
        .then((characterData) => {
            fetch(`https://opensheet.elk.sh/${sheetID}/Sites`)
            .then((response) => response.json())
            .then((siteData) => {
                let siteObject = siteName !== 'all' ? siteData.filter(item => item.Site === siteName) : siteData;
                let tags = prepTags(tagData, siteName);
                let characters = prepCharacters(characterData, siteName);
                populateCharacters(characters, siteObject);

                //initialize isotope
                // quick search regex
                let qsRegex;
                let elements = document.querySelectorAll(gridItem);

                // init Isotope
                $container.isotope({
                    itemSelector: gridItem,
                    percentPosition: true,
                    filter: defaultShow,
                    getSortData: {
                        characterAsc: '.character--title',
                        characterDesc: '.character--title',
                        ageAsc: '.character--age parseInt',
                        ageDesc: '.character--age parseInt',
                    },
                    sortAscending: {
                        characterAsc: true,
                        characterDesc: false,
                        ageAsc: true,
                        ageDesc: false,
                    }
                });
                setTimeout(function() {
                    $container.isotope('layout');
                }, 300);
                initIsotope();
            }).then(() => {
                document.querySelectorAll('.character--label').forEach(label => {
                    label.addEventListener('click', e => {
                        let tabSet = e.currentTarget.closest('.character--info');
                        let labels = tabSet.querySelectorAll('.character--label');
                        let tabs = tabSet.querySelectorAll('.character--tab');
                        let index = Array.from(labels).indexOf.call(labels, e.currentTarget);

                        if(e.currentTarget.classList.contains('is-open')) {
                            labels.forEach(label => label.classList.remove('is-open'));
                            tabs.forEach(tab => tab.classList.remove('is-open'));
                            tabs.forEach(tab => tab.style.top = '0%');
                        } else {
                            labels.forEach(label => label.classList.remove('is-open'));
                            tabs.forEach(tab => tab.classList.remove('is-open'));
                            e.currentTarget.classList.add('is-open');
                            tabs.forEach(tab => tab.style.top = `${index * -100}%`);
                        }
                        $container.isotope('layout');
                    });
                });
                document.querySelectorAll('.site--label').forEach(label => {
                    label.addEventListener('click', e => {
                        e.currentTarget.closest('.character').querySelector('.character--image img').setAttribute('src', e.currentTarget.dataset.image);
                    });
                });
            });
        });
    });
</script>