<div class="charts--triple">
    <div class="charts--threads charts--number"></div>
    <div class="charts--completed charts--number"></div>
    <div class="charts--characters charts--number"></div>
    @@if (sitename !== 'all') {
        <div class="charts--character-genders charts--breakdown">
            <h2>Genders</h2>
            <canvas id="genders"></canvas>
        </div>
        <div class="charts--character-pronouns charts--breakdown">
            <h2>Pronouns</h2>
            <canvas id="pronouns"></canvas>
        </div>
        <div class="charts--character-ages charts--breakdown">
            <h2>Ages</h2>
            <canvas id="ages"></canvas>
        </div>
    }
</div>
<div class="charts--double">
    <div class="charts--thread-type charts--breakdown">
        <h2>Overall Threads - Type</h2>
        <canvas id="type"></canvas>
    </div>
    <div class="charts--thread-status charts--breakdown">
        <h2>Overall Threads - Status</h2>
        <canvas id="status"></canvas>
    </div>
</div>
<div class="charts--single">
    <div class="charts--thread-partners charts--breakdown">
        <h2>Overall Threads - Partners</h2>
        <canvas id="partners"></canvas>
    </div>
</div>
<div class="charts--double">
    <div class="charts--ic-status charts--breakdown">
        <h2>Active Threads - Status</h2>
        <canvas id="icStatus"></canvas>
    </div>
    <div class="charts--ic-replies charts--breakdown">
        <h2>Active Threads - Reply Date</h2>
        <canvas id="icReplies"></canvas>
    </div>
    <div class="charts--comm-status charts--breakdown">
        <h2>Comm Threads - Status</h2>
        <canvas id="commStatus"></canvas>
    </div>
    <div class="charts--comm-replies charts--breakdown">
        <h2>Comm Threads - Reply Date</h2>
        <canvas id="commReplies"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="@@prefix/js/charts.js"></script>
<script>
    //set overall variables
    let siteName = '@@sitename';

    fetch(`https://opensheet.elk.sh/${sheetID}/Characters`)
    .then((response) => response.json())
    .then((characterData) => {
        fetch(`https://opensheet.elk.sh/${sheetID}/Threads`)
        .then((response) => response.json())
        .then((threadData) => {
            fetch(`https://opensheet.elk.sh/${sheetID}/Sites`)
            .then((response) => response.json())
            .then((siteData) => {
                let siteObject = siteName !== 'all' ? siteData.filter(item => item.Site === siteName) : siteData;
                let characterStats = createCharacterStats(characterData, siteObject);
                let threadStats = createThreadStats(threadData, siteObject);

                if(siteName === 'all') {
                    document.querySelector('.charts--characters').innerHTML = `<b>${characterStats.total}</b><span>${characterStats.total === 1 ? 'Unique Character' : 'Unique Characters'}</span>`;
                } else {
                    document.querySelector('.charts--characters').innerHTML = `<b>${characterStats.total}</b><span>${characterStats.total === 1 ? 'Character' : 'Characters'}</span>`;
                }
                document.querySelector('.charts--threads').innerHTML = `<b>${threadStats[0].active}</b><span>${threadStats[0].active === 1 ? 'Active Thread' : 'Active Threads'}</span>`;
                document.querySelector('.charts--completed').innerHTML = `<b>${threadStats[0].completed}</b><span>${threadStats[0].completed === 1 ? 'Completed Thread' : 'Completed Threads'}</span>`;

                if(siteName !== 'all') {
                    /*Genders*/
                    const genders = document.getElementById('genders');
                    new Chart(genders, {
                        type: 'pie',
                        data: {
                            labels: characterStats.genders.tags.map(item => item.toUpperCase()),
                            datasets: [{
                                data: characterStats.genders.totals,
                                backgroundColor: chartColors,
                                borderWidth: 0
                            }]
                        },
                        options: chartOptions
                    });

                    /*Pronouns*/
                    const pronouns = document.getElementById('pronouns');
                    new Chart(pronouns, {
                        type: 'pie',
                        data: {
                            labels: characterStats.pronouns.tags.map(item => item.toUpperCase()),
                            datasets: [{
                                data: characterStats.pronouns.totals,
                                backgroundColor: chartColors,
                                borderWidth: 0
                            }]
                        },
                        options: chartOptions
                    });

                    /*Ages*/
                    const ages = document.getElementById('ages');
                    new Chart(ages, {
                    type: 'pie',
                    data: {
                        labels: characterStats.ages.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: characterStats.ages.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });
                }

                /*Thread Type*/
                const type = document.getElementById('type');
                new Chart(type, {
                    type: 'pie',
                    data: {
                        labels: threadStats[0].type.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[0].type.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });

                /*Thread Status*/
                const status = document.getElementById('status');
                new Chart(status, {
                    type: 'pie',
                    data: {
                        labels: threadStats[0].status.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[0].status.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });

                /*Partners*/
                const partners = document.getElementById('partners');
                new Chart(partners, {
                    type: 'bar',
                    data: {
                        labels: threadStats[0].partners.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[0].partners.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0,
                            fontColor: '#ffffff'
                        }]
                    },
                    options: noLegend
                });

                /*IC Status*/
                const icStatus = document.getElementById('icStatus');
                new Chart(icStatus, {
                    type: 'pie',
                    data: {
                        labels: threadStats[1].status.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[1].status.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });

                /*IC Replies*/
                const icReplies = document.getElementById('icReplies');
                new Chart(icReplies, {
                    type: 'pie',
                    data: {
                        labels: threadStats[1].replies.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[1].replies.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });

                /*Comm Status*/
                const commStatus = document.getElementById('commStatus');
                new Chart(commStatus, {
                    type: 'pie',
                    data: {
                        labels: threadStats[2].status.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[2].status.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });

                /*Comm Replies*/
                const commReplies = document.getElementById('commReplies');
                new Chart(commReplies, {
                    type: 'pie',
                    data: {
                        labels: threadStats[2].replies.tags.map(item => item.toUpperCase()),
                        datasets: [{
                            data: threadStats[2].replies.totals,
                            backgroundColor: chartColors,
                            borderWidth: 0
                        }]
                    },
                    options: chartOptions
                });
            });
        });
    });
</script>