<div class="backdrop horizontal"></div>
<div class="backdrop vertical"></div>
<nav class="nav">
    <div class="nav--inner">
        <a href="@@prefix/index.html">
            <i class="fa-light fa-house"></i>
            <span>Home</span>
        </a>
        <button onClick="openSubmenu(this)" data-menu="sites">
            <i class="fa-light fa-sitemap"></i>
            <span>Sites</span>
        </button>
        <button onClick="openSubmenu(this)" data-menu="characters">
            <i class="fa-light fa-users"></i>
            <span>Muses</span>
        </button>
        <button onClick="openSubmenu(this)" data-menu="threads">
            <i class="fa-light fa-books"></i>
            <span>Threads</span>
        </button>
        <button onClick="openSubmenu(this)" data-menu="stats">
            <i class="fa-light fa-chart-pie"></i>
            <span>Stats</span>
        </button>
        <button onClick="openSubmenu(this)" data-menu="admin">
            <i class="fa-light fa-wrench"></i>
            <span>Admin</span>
        </button>
        <button class="toggle--theme" onClick="toggleTheme()">
            <i class="fa-light fa-brightness mode--light"></i>
            <span class="mode--light">Light</span>
            <i class="fa-light fa-brightness-low mode--dark"></i>
            <span class="mode--dark">Dark</span>
        </button>
    </div>
</nav>
<nav class="subnav" data-menu="sites">
    <div class="subnav--inner"></div>
</nav>
<nav class="subnav" data-menu="characters">
    <div class="subnav--inner">
        <a href="@@prefix/characters/index.html">View All</a>
    </div>
</nav>
<nav class="subnav" data-menu="threads">
    <div class="subnav--inner">
        <a href="@@prefix/threads/index.html">View All</a>
    </div>
</nav>
<nav class="subnav" data-menu="stats">
    <div class="subnav--inner">
        <a href="@@prefix/stats/index.html">View Combined</a>
        <a href="@@prefix/stats/statuses.html">Status Comparison</a>
    </div>
</nav>
<nav class="subnav" data-menu="admin">
    <div class="subnav--inner">
        <a href="@@prefix/admin/new-site.html">Add Site</a>
        <a href="@@prefix/admin/new-tag.html">Add Tags</a>
        <a href="@@prefix/admin/new-partner.html">Add Partner</a>
        <a href="@@prefix/admin/new-character.html">Add Character</a>
        <a href="@@prefix/admin/new-thread.html">Add Thread</a>
        <a href="@@prefix/admin/update-tag.html">Edit Tags</a>
        <a href="@@prefix/admin/update-partner.html">Edit Partner</a>
        <a href="@@prefix/admin/update-character.html">Edit Character</a>
        <a href="@@prefix/admin/update-thread.html">Edit Thread</a>
    </div>
</nav>