<div class="charts--thread-status charts--breakdown">
    <h2>@@sitename</h2>
    <canvas id="@@siteID"></canvas>
</div>
<script>
    fetch(`https://opensheet.elk.sh/${sheetID}/Threads`)
    .then((response) => response.json())
    .then((threadData) => {
        fetch(`https://opensheet.elk.sh/${sheetID}/Sites`)
        .then((response) => response.json())
        .then((siteData) => {
            //set overall variables
            let siteName = '@@sitename';
            let siteObject = siteName !== 'all' ? siteData.filter(item => item.Site === siteName) : siteData;
            let threadStats = createThreadStats(threadData, siteObject);

            /*Thread Status*/
            new Chart(document.getElementById('@@siteID'), {
                type: 'pie',
                data: {
                    labels: threadStats[0].status.tags.map(item => item.toUpperCase()),
                    datasets: [{
                        data: threadStats[0].status.totals,
                        backgroundColor: chartColors,
                        borderWidth: 0
                    }]
                },
                options: chartOptions
            });
        });
    });
</script>